/* src/input.css */

/* Tailwind base, componentes y utilidades */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos globales adicionales */
@import './index.css'; /* si quieres incluir tu index.css */
